<div class="container text-center">
  {{!-- 篩選器 --}}
  <div class="row">
    <button
      class="btn btn-light btn-lg dropdown-toggle w-100 border border-secondary text-end d-flex justify-content-between align-items-center"
      type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <p class="text-start m-0">
        {{#if selectedCategory}}
        {{ this.selectedCategory }}
        {{else}}
        類別
        {{/if}}
      </p>
    </button>
    <ul class="dropdown-menu w-100 text-center">
      <li><a class="dropdown-item" href="/">所有類別</a></li>
      {{#each category}}
      <li><a class="dropdown-item" href="/categoryFilter/{{ this.name }}">{{ this.name }}</a></li>
      {{/each}}
    </ul>
    </div>
  </div>
  {{!-- 總金額 --}}
  {{>message}}
    
  <div class="text-center">
    <h1>總金額</h1>
    <h1>{{totalAmount}}</h1>
  </div>
  
  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto me-0 mt-auto">
          <h4>
            {{{ this.categoryIcon }}}
          </h4>
        </div>

        <div class="row col-8 align-items-center">
          <div class="col-8">
            <div>{{this.name}}</div>
            <div>{{this.date}}</div>
          </div>
          <div class="col-2">{{this.amount}}</div>
        </div>

        <div class="col-auto">
          <a class="btn btn-success" href="/records/edit/{{ this._id }}">修改</a>
          <form action="/records/delete/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <hr>
  <div class="text-center">
    <a href="/records/new" class="btn btn-primary mb-3 ">新增支出</a>
  </div>
</div>